doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title DynaQuiz
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #dad27a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100;
        }
        .container {
        max-width: 800px;
        width: 80%;
        background-color: #a9a9a9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
        }
        .question {
        margin-bottom: 20px;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        }
        .options {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }
        .option {
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        background-color: #ddd;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
        }
        .option:hover {
        background-color: #c4c4c4;
        }
        button {
        padding: 10px 20px;
        background-color: #66612b;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        button:hover {
        background-color: #dad27a;
        }
  body
    .container
      h1 DynaQuiz
      each question in questions
        .question
          p #{question.question}
            .input-group 
              label(for="answer")
              select(name='answer' onchange=`chooseOption("${question.question}", this.value, '${question.correct_answer}')`)
                option(value='') Select an option
                option(value='True') True
                option(value='False') False
      form(method="POST" action="/scores")
        input(type='submit', value='Submit Answers')
        input(type="hidden" name="userAnswers" value=userAnswers)
        input(type="hidden" name="realAnswers" value=realAnswers)
      //- button(
      //-   type="button"
      //-   onclick="lpage()"
      //- ) Submit Answers
    block footer
  
    a(href='/login') Login
    |
    |
    a(href='/register') Register 
    |
    |
    a(href='/add_question') Add Question
    |
    |
    a(href='/logout') Logout 
    script.
      let userAnswers = [];
      let realAnswers = [];
      let numCorrect = 0;
      function chooseOption(question, option, cAnswers) {
        userAnswers[question] = option;
        realAnswers[question] = cAnswers;
        const selectedOption = userAnswers[question]; 
        const correctAnswer = realAnswers[question];
        if (!selectedOption) {
            alert("Please select an option");
            return;
        }
        const isCorrect = selectedOption === correctAnswer;
        if (isCorrect) {
          numCorrect ++;
        }
      console.log(userAnswers);
      console.log(realAnswers);
      console.log(numCorrect);
      }
      function lpage() {
        window.location.href = "/scores"; 
      }  