doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Choose Your Options
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        }
        .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        }
        .input-group {
        margin-bottom: 20px;
        }
        .input-group select {
        width: 100px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        }
        .input-group input[type="submit"] {
        background-color: #dad27a;
        color: #fff;
        cursor: pointer;
        width: 325px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        }
        .input-group input[type="submit"]:hover {
        background-color: #4e4a30;
        }
  body
    .container
      //- drop down menu to select question genre and difficulty, save this
      form(
        method="GET" 
        action="question.pug" //again, or .html?? just want it to go there
        )
        .input-group
          label(for="genre") Select Genre:
          select#genre(name="genre")
            option(value="history") History
            option(value="math") Math
            option(value="science") Science
        .input-group
          label(for="difficulty") Select Difficulty:
          select#difficulty(name="difficulty")
            option(value="easy") Easy
            option(value="medium") Medium
            option(value="hard") Hard
        .input-group
          input(
            value="Next" 
            type="submit"
            )